<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Page</title>
</head>
<body>
        <h1> <%= user.name %></h1>
        <p> Age: <%= user.age %></p>
        <p> Hobby: <%= user.hobby %></p>
</body>
</html>